# Core Web Framework and UI
streamlit
fastapi
uvicorn

# File handling
Pillow
docx2txt
PyPDF2

# Database
psycopg2-binary
asyncpg
sqlalchemy
python-dotenv

# Data Models and Validation
pydantic
pydantic-settings

# Machine Learning and NLP
scikit-learn
nltk
pandas
